* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Poppins;
}

.container {
    height: 90vh;
    display: flex;
}

.navbar {
    background-color: rgb(243, 231, 231);
    height: 100%;
    width: 4%;
    display: flex;
    flex-direction: column;
}

.nav {
    height: 3%;
    /* margin-top: 40px; */
}

.menu {
    margin-top: 20px;
}

.nav:not(.menu) {
    margin-top: 50px;
}

header {
    background-color: rgb(49, 43, 43);
    color: white;
    width: 96vw;
    height: 50%;
    display: flex;
    align-items: center;
    margin-right: 2px;
    margin-top: 1px;
}

section {
    width: 96vw;
    height: 50%;
    font-size: 13px;
}

.cat {
    height: 80%;
    width: 20%;
    margin-left: 3%;
}

header p {
    margin-left: 5%;
    font-size: 20px;
}

.more {
    height: 10px;
    filter: invert(1);
    margin-left: 10px;
}

.main_cat {
    font-size: 11px;
}

.play {
    font-size: 12px;
}

.first,
.second,
.third,
.fourth {
    display: flex;
    height: 15%;
    justify-content: space-between;
    align-items: center;
    margin-top: 14px;
    margin-left: 10px;

}

.m1,
.m2,
.m3,
.m4 {
    width: 25%;
    padding-left: 15px;
}

.list:nth-child(2n) {
    background-color: rgb(243, 231, 231);
}

.m4 {
    text-decoration: none;
    color: black;
    border: 1px black solid;
    position: relative;
    right: 100px;
    width: 119px;
    padding-left: 2px;
    font-size: 12px;
}

footer {
    background-color: rgb(63, 63, 154);
    height: 10vh;
    margin-left: 5px;
    margin-right: 2px;
    display: flex;
    align-items: center;
    color: white;
    margin-bottom: 2px;
}

.bottom {
    height: 85%;
    padding-left: 5px;
}

footer p {
    padding-left: 8px;
    font-size: 10px;
    line-height: 23px;
    width: 7%;
}

.image {
    margin-left: 58%;
    width: 28%;
}

.last {
    height: 11px;
    filter: invert(1);
    padding-left: 55px;
}